PORT=3000

# Your Supabase URL 
SUPABASE_URL=https://nhazxhblzhmvljrofeqr.supabase.co

# Your Supabase ANON Key (Starts with eyJ...)
SUPABASE_ANON_KEY=your_anon_key

# Your Supabase SERVICE ROLE Key (Starts with eyJ... used to bypass RLS in the backend)
SUPABASE_SERVICE_KEY=your_service_role_key

# Put these in a file named exactly .env
